* {
    background-color: none;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


body {
    background-image: url(https://wallpapers.com/images/hd/movie-poster-background-jd1c45cjm7vba7gg.jpg);
    max-width: 100vw;
    max-height: 100vh;
    overflow-x: hidden;
}

html {
  height: 100%;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0px 24px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
}

button:active {
    transform: translateY(1px);
}

.btn {
    background-color: blue;
    color: white;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 35px;
    border: none;
}

.nav__link:hover {
    text-decoration: underline;
    color: darkorange;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
}
.nav__link--primary {
    border: 3px solid blue;
    border-radius: 35px;
    box-shadow: 10px 5px 10px grey;
    border-radius: 40px;
}

.nav__link--primary:hover {
    text-decoration: none;
}

figure {
    position: relative;
    height: 100%;
}

.logo__img {
  font-size: 60px;
    width: 100px;
}

.logo__name {
  font-size: 20px;
  display: flex;
}

.nav__links {
   text-decoration: none;
}

.nav__list {
    display: flex;
}


nav {
  background-color: rgb(245, 245, 245, .8);
  margin-bottom: 20px;
}

#data,
header,
section {
  /* display: flex; */
  /* background-color: rgb(245, 245, 245, .8); */
  height: 100vh - 160px;
  width: 100vw;
}


.header__container {
    padding: 0px 24px;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    height: 100% - 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.header__description {
  background-color: rgb(245, 245, 245, .8);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__img--wrapper {
    display: flex;
    padding: 20px;
    z-index: 2;
    justify-content: center;
}

h1 {
    font-size: 56px;
    color: blue;
    margin-bottom: 24px;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 32px;
    text-align: center;
}

.header-img {
    border-radius: 15px;
    width: 100%;
    max-width: 500px;
}
textarea,
input {
    width: 500px;
    height: 56px;
    border: 3px solid blue;
    border-radius: 35px;
    background-color: white;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 10px 10px 10px grey;
    border-radius: 40px;
}

.search__btns {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.random {
    margin-left: 16px;
}

/* MODAL */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1100px;
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    visibility: hidden;
    z-index: -1;
    transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
  }
  
  .modal__half {
    width: 50%;
    padding: 40px 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  
  .modal__about {
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(-110%);
    transition: all 300ms ease-in;
  }
  
  .modal--open .modal__about {
    transform: translateX(0%);
  }
  
  .modal--open .modal__contact {
    transform: translateX(0%);
  }
  
  .modal__contact {
    background: #242424;
    color: white;
    transform: translateX(110%);
    transition: all 300ms ease-in;
  }
  
  .modal__title {
    font-size: 26px;
  }
  
  .modal__sub-title {
    margin: 12px 0 24px 0;
    font-size: 14px;
  }
  
  .modal__para {
    margin-bottom: 12px;
    line-height: 1.75;
  }
  
  .modal__title--contact {
    font-size: 26px;
    background-color: #242424;
  }
  
  .modal__sub-title--contact {
    margin: 12px 0 24px 0;
    font-size: 14px;
    background-color: #242424;
  }
  
  .modal__para--contact {
    margin-bottom: 12px;
    line-height: 1.75;
    background-color: #242424;
  }
  
  .form__item {
    margin-bottom: 20px;
    background-color: #242424;
  }

  .form__item--label {
    background-color: #242424;
  }

  .input__contact {
    border: 1px solid blue;
    width: 400px;
    border-radius: 0;
    background-color: #242424;
    color: white;
  }

  .fa-circle-xmark {
    background-color: #242424;
    cursor: pointer;
  }

  form {
    background-color: #242424;
  }
  
  .form__submit {
    background-color: blue;
    border: 2px solid blue;
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    max-width: 240px;
    padding: 12px 24px;
    transition: all 300ms ease;
  }
  
  .form__submit:active {
    background-color: rgb(31, 169, 24);
    color: rgb(31, 169, 24);
  }
  
  .form__submit:hover {
    border-color: white;
    background-color: transparent;
  }
  
  .modal__overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: -1;
  }
  
  .modal__overlay--loading {
    background-color: #242424;
    color: rgb(31, 169, 24);
    font-size: 80px;
  }
  
  .modal__overlay--success {
    background-color: #32a329;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 28px;
  }
  
  .modal__overlay--visible {
    display: flex;
    z-index: 1;
  }
  
  .modal--open .modal {
    z-index: 60;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
    visibility: visible;
  }
  

  .fa-spinner {
    animation: spinner 750ms infinite;
  }
  
  .modal__exit {
    position: absolute;
    top: 30px;
    right: 40px;
    color: white;
    font-size: 36px;
    z-index: 100;
  }
  
  @keyframes spinner {
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

  /* Movies */
#filter {
  background-color: rgb(245, 245, 245, .8);
  margin-right: 50px;
  text-align: center;
  border: 1px solid blue;
  border-radius: 35px;
  box-shadow: 10px 10px 10px grey;
}

#data {
  display: flex;
  height: 100;
  }

  .movie-title--input {
    padding: 20px;
  }

.post-list {
    display: flex;
    flex-direction: row;
    border: 2px solid blue;
    height: 100%;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px 10px grey;
    background-color: rgb(245, 245, 245, .8);
}

.post {
  width: calc(100% / 4);
  flex-wrap: wrap;
  margin: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.post__title {
  width: 100%;
  text-align: center;
  height: 100%;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
  align-items: center;
  justify-content: center;
}

.post__body {
  height: 100%;
  font-size: 20px;
  font-weight: 500;
  margin: 10px;
}

.post__img {
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 438px;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.movie__search {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.movie__search--label {
  background-color: rgb(245, 245, 245, .8);
  border: 1px solid blue;
  border-radius: 20px;
  margin: 5px;
}

/* Small phones, Tablets, Large Smart Phones */
@media (max-width: 970px) {
  
    /* .post__body {
      font-size: 14px;
      font-weight: 700;
    } */
  
     figure {
      transform: scale(.8);
      
    }
   /* .post__title {
    transform: scale(.7);
   } */

  .post {
    /* transform: scale(.7); */
    width: 100%;
  } 
  
  .input__contact {
    width: 100%;
  }
  
 
  .modal {
    top: 0;
    left: 0;
    transform: none;
    height: auto;
    width: 100%;
    flex-direction: column-reverse;
    border-radius: 0;
  }
  .modal__half {
    width: 100%;
  }
 
}

/* Small Phones */
@media (max-width: 679px) {
  .post__title {
    transform: scale(.7);
  }

  .post__img {
    transform: scale(.8);
  }

  .post {
    transform: scale(.9);
    margin: 0 auto;
  }

  input {
    width: 100%;
  }
  
  .movie-title--input {
    padding: 0 10px;
    font-size: 14px;
  }

  .nav__link:first-child {
    display: none;
  }

  .modal {
    top: 0;
    left: 0;
    transform: none;
    height: auto;
    width: 100%;
    flex-direction: column-reverse;
    border-radius: 0;
  }

  .modal__half {
    width: 100%;
    padding: 40px;
  }
  nav {
    scale: 75%;
    align-items: center;
    justify-content: center;
  }

}